@import "tailwindcss";

@layer theme {
  :root {
    --color-primary: #1e90ff;
    --color-secondary: #ff6347;
    --color-accent: #32cd32;
    --color-background: #f5f5f5;
    --color-white: #ffffff;
  }
  .dark {
    --color-primary: #1e90ff;
    --color-secondary: #ff6347;
    --color-accent: #32cd32;
    --color-background: #161e2b;
    --color-white: #ffffff;
  }
}
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  body,
  html {
    @apply w-full h-full bg-[#161E2B] dark:bg-black overflow-hidden;
  }
  #root {
    @apply w-full h-full overflow-hidden;
  }
  select,
  input,
  textarea {
    @apply border border-[#8F98A8] p-2 rounded outline-none bg-[#090D26] placeholder:text-[#596176] text-[#596176] w-full max-w-full block;
  }
  option {
    @apply text-white font-bold text-xs lg:text-base;
  }
  textarea {
    @apply resize-none text-white;
  }
  th{
    @apply font-bold;
  }
  th,
  td {
    @apply text-xs lg:text-base text-nowrap p-2 border border-white;
  }
  label{
    @apply text-white text-sm lg:text-lg font-semibold;
  }
}
